@import "../../scss/variable.scss";

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

.page-header {
  height: 60px;
  .wrapper {
    width: 100%;
    position: fixed;
    background-color: #ffffff;
  }

  .header-container {
    padding: 12px 20px;
    border: 1px solid;
    position: relative;
  }

  .menu-list {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
  }

  /* Menu */

  .nav {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: $transition-duration;
  }

  // Showing nav items as lines, making up the hamburger menu icon
  .nav-item {
    width: 20px;
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;

    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    // transition: $transition-duration, opacity 1s;

    // // Setting delays for the nav items in close transition
    // @for $i from 1 through $items {
    //   &:nth-child(#{$i}) {
    //     $delay: ($i + 1) * $transition-delay;
    //     transition-delay: $delay;
    //     &:before {
    //       transition-delay: $delay;
    //     }
    //   }
    // }

    // Adjusting from the fourth element onwards
    &:nth-child(n + 4) {
      letter-spacing: -8px;
      margin-top: -7px;
      opacity: 0;
    }

    // Getting the lines for the hamburger menu icon
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-black;
      transform: translateY(-50%) scaleY(5);
      transition: $transition-duration;
    }
  }

  #toggle {
    position: absolute;
    left: -100%;
    top: -100%;
  }

  #toggle:focus {
    & ~ .toggle-container .button-toggle {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1),
        inset 0 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }

  #toggle:checked {
    & ~ .toggle-container .button-toggle {
      &:before {
        transform: translateY(-50%) rotate(45deg) scale(1);
      }

      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(1);
      }
    }

    // Open nav
    & ~ .menu-list {
      .nav {
        width: 100%;
        margin-bottom: 100px;
        pointer-events: auto;

        // Restoring nav items from "lines" in the menu icon
        .nav-item {
          color: $color-grey;
          letter-spacing: 0;
          height: 40px;
          line-height: 40px;
          margin-top: 0;
          opacity: 1;
          transform: scaleY(1);
          // transition: $transition-duration, opacity 0.1s;

          // // Setting delays for the nav items in open transition
          // @for $i from 1 through $items {
          //   &:nth-child(#{$i}) {
          //     $delay: ($items + $i) * $transition-delay;
          //     transition-delay: $delay;
          //     &:before {
          //       transition-delay: $delay;
          //     }
          //   }
          // }
          // Hiding the lines
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  /* Toggle button */

  .button-toggle {
    display: inline-block;
    position: absolute;
    right: 18px;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: $transition-duration + 0.1;

    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-grey;
      border-radius: 5px;
      transition: $transition-duration;
    }

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(0);
    }
  }
}
