@import "../../scss/variable.scss";

.container {
    width: 100%;
}

.tabs-block {
    max-width: 980px;
    margin: auto;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::after {
        content: " ";
        border-bottom: 1px solid $color-gray-50;
    }

    .tabs-navigation {
        display: flex;
        justify-content: center;
        min-height: 52px;
        flex-wrap: wrap;

        &__tab-item{
            font-family: "SourceSansPro";
            font-size: 16px;
            margin-right: 39px;
            padding-top: 15px;

            &:last-child{
                margin-right: 0px;
            }

            &:hover{
                cursor: pointer;
                text-shadow: 0 0 1px $color-aquamarine, 0 0 1px $color-aquamarine;
                color: $color-aquamarine;
                border-bottom: 1px solid $color-aquamarine;

                @media screen and (max-width: 475px) {
                    border: none;
                }
            }

            @media screen and (max-width: 475px) {
                padding-top: 0px;
            }
        }

        @media screen and (max-width: 475px) {
            padding: 10px
        }
    }

    &__title {
        font-family: "Philosopher-Bold";
        font-size: 28px;
         line-height: 140%;
         text-align: center;
    }


}