<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../../build/css/style-min.css" />

    <title>lword</title>
</head>

<body>
    <script src="build/js/js-min.js"></script>

    <div class="container">
        <div class="tabs-block">
            <div class="tabs-block__title">
                <span>Выбрать Проповеди</span>
            </div>
            <div class="tabs-navigation">
                <div class="tabs-navigation__tab-item">Последние</div>
                <div class="tabs-navigation__tab-item">По книге</div>
                <div class="tabs-navigation__tab-item">По темам</div>
                <div class="tabs-navigation__tab-item">Серии</div>
                <div class="tabs-navigation__tab-item">По автору</div>

            </div>
        </div>
    </div>
</body>

</html>