<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../../build/css/style-min.css" />

    <title>lword</title>
  </head>

  <body>
    <script src="build/js/js-min.js"></script>

    <div class="tabs-container">
      <div class="tabs-block">
        <h3 class="tabs-title">Выбрать Проповеди</h3>
        <div class="tabs-navigation">
          <button title="Последние" class="tabs-navigation__item">
            Последние
          </button>
          <button
            title="По книге"
            class="tabs-navigation__item tab-item--active"
          >
            По книге
          </button>
          <button title="По темам" class="tabs-navigation__item">
            По темам
          </button>
          <button title="Серии" class="tabs-navigation__item">Серии</button>
          <button title="По автору" class="tabs-navigation__item">
            По автору
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
