@import "../../scss/variable.scss";

@mixin active {
    cursor: pointer;
    text-shadow: 0 0 1px $color-aquamarine, 0 0 1px $color-aquamarine;
    color: $color-aquamarine;
    border-bottom: 1px solid $color-aquamarine;

    @media screen and (max-width: 475px) {
        border: none;
    }
}

.container {
    width: 100%;
}

.tabs-block {
    max-width: 980px;
    margin: auto;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    }

    &::after {
        content: " ";
        border-bottom: 1px solid $color-gray-50;
    }

    .tabs-navigation {
        display: flex;
        justify-content: center;
        min-height: 52px;
        overflow: auto;
        flex-wrap: nowrap;

        &__tab-item{
            font-family: "SourceSansPro";
            font-size: 16px;
            margin-right: 39px;
            padding-top: 15px;
            white-space: nowrap;

            &:last-child{
                margin-right: 0px;
            }

            &:hover{
                @include active;
            }

        }

        .tab-item--active{
            @include active;
        }
        
    }

    &__title {
        font-family: "Philosopher-Bold";
        font-size: 28px;
         line-height: 140%;
         text-align: center;
    }


     @media screen and (max-width: $tablet) {
            padding: 0px 20px
    }
}