<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../../build/css/style-min.css" />

    <title>lword</title>
</head>

<body>
    <script src="build/js/js-min.js"></script>

    <div class="container">
        <div class="autor-block">
            <div class="autor-block__item">
                <div class="autor-avatar">
                    <img   src="../../img/Autor.png" />
                </div>
                <div class="autor-description-block">
                    <div class="autor-description-block__title">Андрей Резуненко</div>
                    <div class="autor-description-block__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <button class="button">Все проповеди</button>
                </div>
            </div>
            <div class="autor-block__item">
                <div class="autor-avatar">
                    <img   src="../../img/Autor.png" />
                </div>
                <div class="autor-description-block">
                    <div class="autor-description-block__title">Андрей Резуненко</div>
                    <div class="autor-description-block__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <button class="button">Все проповеди</button>
                </div>
            </div>
            <div class="autor-block__item">
                <div class="autor-avatar">
                    <img   src="../../img/Autor.png" />
                </div>
                <div class="autor-description-block">
                    <div class="autor-description-block__title">Андрей Резуненко</div>
                    <div class="autor-description-block__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <button class="button">Все проповеди</button>
                </div>
            </div>
            <div class="autor-block__item">
                <div class="autor-avatar">
                    <img   src="../../img/Autor.png" />
                </div>
                <div class="autor-description-block">
                    <div class="autor-description-block__title">Андрей Резуненко</div>
                    <div class="autor-description-block__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <button class="button">Все проповеди</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>