@font-face {
  font-family: "Philosopher";
  src: url("../shared/fonts/Philosopher.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../shared/fonts/SourceSansPro.ttf"); }

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../shared/fonts/Philosopher-Bold.ttf"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../shared/fonts/SourceSansPro-Bold.ttf"); }

.page-header {
  height: 60px;
  /* Menu */
  /* Toggle button */ }
  .page-header .wrapper {
    width: 100%;
    position: fixed;
    background-color: #ffffff; }
  .page-header .header-container {
    padding: 12px 20px;
    border: 1px solid;
    position: relative; }
  .page-header .menu-list {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end; }
  .page-header .nav {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: 0.5s; }
  .page-header .nav-item {
    width: 20px;
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2); }
    .page-header .nav-item:nth-child(n + 4) {
      letter-spacing: -8px;
      margin-top: -7px;
      opacity: 0; }
    .page-header .nav-item:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #231f20;
      transform: translateY(-50%) scaleY(5);
      transition: 0.5s; }
  .page-header #toggle {
    position: absolute;
    left: -100%;
    top: -100%; }
  .page-header #toggle:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1); }
  .page-header #toggle:checked ~ .toggle-container .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(1); }
  .page-header #toggle:checked ~ .toggle-container .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(1); }
  .page-header #toggle:checked ~ .menu-list .nav {
    width: 100%;
    margin-bottom: 100px;
    pointer-events: auto; }
    .page-header #toggle:checked ~ .menu-list .nav .nav-item {
      color: #494848;
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1); }
      .page-header #toggle:checked ~ .menu-list .nav .nav-item:before {
        opacity: 0; }
  .page-header .button-toggle {
    display: inline-block;
    position: absolute;
    right: 18px;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.6s; }
    .page-header .button-toggle:before, .page-header .button-toggle:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #494848;
      border-radius: 5px;
      transition: 0.5s; }
    .page-header .button-toggle:before {
      transform: translateY(-50%) rotate(45deg) scale(0); }
    .page-header .button-toggle:after {
      transform: translateY(-50%) rotate(-45deg) scale(0); }
