@font-face {
  font-family: "Philosopher";
  src: url("../shared/fonts/Philosopher.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../shared/fonts/SourceSansPro.ttf"); }

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../shared/fonts/Philosopher-Bold.ttf"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../shared/fonts/SourceSansPro-Bold.ttf"); }

.page-header {
  top: 0;
  height: 60px;
  /* Menu */ }
  .page-header .menu-container {
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0;
    background-color: #ffffff; }
  .page-header .header-container {
    height: 60px;
    height: 100%;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); }
  .page-header .header-menu {
    height: 60px;
    padding: 0 20px;
    transition: all 0.5s;
    overflow: auto; }
  .page-header .icon-menu {
    margin-top: 12px; }
  .page-header .menu-list {
    display: none;
    margin-left: 21px; }
    .page-header .menu-list .nav-item:first-child {
      margin-top: 40px; }
    .page-header .menu-list .nav-item {
      text-decoration: none;
      display: inline-block;
      font-family: SourceSansPro;
      color: #231f20;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 40px; }
    .page-header .menu-list .nav-item__active {
      font-weight: 600;
      color: #37928a; }
  .page-header .menu-social {
    margin: 31px 0 47px 21px;
    display: none; }
    .page-header .menu-social .social-icon {
      margin-right: 20px; }
  .page-header .toggle-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    margin: 12px;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.6s; }
  .page-header .button-toggle {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #494848;
    border-radius: 5px; }
    .page-header .button-toggle:before, .page-header .button-toggle:after {
      position: absolute;
      content: "";
      transition: all 0.3s;
      width: 20px;
      height: 2px;
      background-color: #494848;
      border-radius: 5px; }
    .page-header .button-toggle:before {
      top: 9px; }
    .page-header .button-toggle:after {
      bottom: 9px; }
  .page-header #toggle {
    position: absolute;
    left: -100%;
    top: -100%; }
  .page-header #toggle:checked ~ .toggle-container .button-toggle {
    visibility: hidden; }
    .page-header #toggle:checked ~ .toggle-container .button-toggle:before {
      visibility: visible;
      transform: translateY(-50%) rotate(45deg);
      top: 0;
      transition: 0.3s; }
    .page-header #toggle:checked ~ .toggle-container .button-toggle:after {
      visibility: visible;
      bottom: 0;
      transform: translateY(-50%) rotate(-45deg);
      transition: 0.3s; }
  .page-header #toggle:checked ~ .header-menu {
    height: 100vh;
    background-color: white;
    transition: 0.5s; }
    .page-header #toggle:checked ~ .header-menu .menu-list {
      display: block; }
      .page-header #toggle:checked ~ .header-menu .menu-list .nav {
        display: flex;
        flex-direction: column; }
    .page-header #toggle:checked ~ .header-menu .menu-social {
      display: block; }

@media screen and (min-width: 900px) {
  .page-header {
    height: 66px; }
    .page-header .header-menu {
      overflow: hidden;
      display: flex;
      height: 66px; }
    .page-header .icon-menu {
      transform: scale(1.5);
      margin-top: 9px;
      margin-left: 60px; }
    .page-header .toggle-container {
      display: none; }
    .page-header .menu-list {
      display: flex;
      justify-content: flex-end;
      margin-right: 80px;
      margin-left: 0;
      width: 100%; }
      .page-header .menu-list .nav {
        display: flex;
        align-items: center;
        width: 556px;
        justify-content: space-between; }
        .page-header .menu-list .nav .nav-item:first-child {
          margin-top: 0; }
        .page-header .menu-list .nav .nav-item {
          font-size: 15px;
          line-height: 19px;
          margin-bottom: 0; }
          .page-header .menu-list .nav .nav-item:hover {
            color: #37928a;
            transition: 0.3s; }
        .page-header .menu-list .nav .nav-item__active {
          font-weight: 600;
          position: relative; }
          .page-header .menu-list .nav .nav-item__active:before {
            content: "";
            position: absolute;
            top: 33px;
            width: 100%;
            height: 4px;
            background-color: #37928a; }
    .page-header .menu-social {
      display: none; } }

@media screen and (min-width: 1300px) {
  .page-header {
    height: 72px; }
    .page-header .icon-menu {
      margin-left: 150px; }
    .page-header .menu-list {
      margin-right: 160px; } }
