@font-face {
  font-family: "Philosopher";
  src: url("../../fonts/Philosopher.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro.ttf"); }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
