@font-face {
  font-family: "Philosopher";
  src: url("../shared/fonts/Philosopher.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../shared/fonts/SourceSansPro.ttf"); }

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../shared/fonts/Philosopher-Bold.ttf"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../shared/fonts/SourceSansPro-Bold.ttf"); }
