//-------------------------------------------------COLOR----------------------------------------------------
$color-black: #231f20;
$color-grey: #494848;
$color-aquamarine: #37928a;
//-------------------------------------------------MEDIA SCREEN---------------------------------------------------

$mobile: 320px;
$tablet: 900px;
$desktop: 1300px;

//-------------------------------------------------FONTS---------------------------------------------------
@font-face {
  font-family: "Philosopher";
  src: url("../shared/fonts/Philosopher.ttf");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../shared/fonts/SourceSansPro.ttf");
}

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../shared/fonts/Philosopher-Bold.ttf");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../shared/fonts/SourceSansPro-Bold.ttf");
}
