//-------------------------------------------------COLOR----------------------------------------------------

//-------------------------------------------------MEDIA SCREEN VARIABLE---------------------------------------------------

$phone: 425px;
$tablet: 768px;
$desktop: 1024px;
