//-------------------------------------------------COLOR----------------------------------------------------

//-------------------------------------------------MEDIA SCREEN VARIABLE---------------------------------------------------

$mobile: 320px;
$tablet: 900px;
$desktop: 1300px;
