@font-face {
  font-family: "Philosopher";
  src: url("../../fonts/Philosopher-Regular.ttf"); }

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../../fonts/Philosopher-Bold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../../fonts/SourceSansPro-Bold.ttf"); }

.container {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  width: 100%; }

.pagination-block {
  max-width: 268px;
  display: flex; }
  .pagination-block svg {
    fill: #494848; }
  .pagination-block__item {
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 1px 1px #49484833;
    border-radius: 8px;
    font-family: "SourceSansPro";
    font-size: 28px;
    cursor: pointer;
    margin-right: 7px; }
    .pagination-block__item:last-child {
      margin-right: 0px; }
    .pagination-block__item:hover {
      color: #37928a;
      text-shadow: 0 0 1px #37928a, 0 0 1px #37928a;
      border: 2px solid #37928a;
      box-shadow: none; }
      .pagination-block__item:hover svg {
        fill: #37928a; }
  .pagination-block .item--active {
    color: #37928a;
    text-shadow: 0 0 1px #37928a, 0 0 1px #37928a;
    border: 2px solid #37928a;
    box-shadow: none; }
    .pagination-block .item--active svg {
      fill: #37928a; }
